.category-list {
    background-image: url("/src/static/assets/img-14.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 95px;

    @include mobile {
        padding: 50px 45px 30px;
    }

    .container {
        .row {
            .category-title {
                h2 {
                    color: #ffffff !important;
                }

                p {
                    color: #ffffff;
                    width: 40%;

                    @include text-size {
                        font-size: 15px;
                        width: 70%;
                    }

                    @include min-tablet {
                        width: 100%;
                    }
                }
            }

            .collection-side {
                width: 20%;
                padding: 0 10px;

                @include text-size {
                    width: 33.333%;
                }

                @include min-tablet {
                    width: 50%;
                    padding-bottom: 10px;
                }

                @include grid {
                    width: 100%;
                }

                .collection {
                    border: 1px solid transparent;
                    transition: all 0.3s ease-in-out;

                    .collection-title {
                        transition: all 1.5s ease-in-out;
                        padding: 20px;

                        h2 {
                            color: #ffffff;
                            font-size: 22px;
                            margin: 0;
                        }
                    }

                    &:hover {
                        box-shadow: 0px 0px 25px 5px #000;

                        .collection-title {
                            background: #be9c79;
                        }
                    }
                }
            }
        }
    }
}