.coffee-tab {
    padding: 95px 0 65px;

    .container {
        width: 95%;

        .row {
            .tab-title {
                h2 {
                    color: #514242;
                    font-size: 31px;
                    letter-spacing: 0.05em;
                    margin: 0 0 15px;
                    line-height: 1.1;
                    font-family: 'Spicy Rice', cursive;
                    font-weight: normal;
                }

                p {
                    color: #473c3c;
                    margin: 0 0 15px 0;
                    width: 40%;

                    @include text-size {
                        font-size: 15px;
                        width: 70%;
                    }

                    @include min-tablet {
                        width: 100%;
                    }
                }
            }

            .tab-side {
                .nav-tabs {
                    border: none;

                    .nav-link {
                        color: #473c3c;
                        padding: 5px 20px;
                        margin: 0 10px 0 0;
                        border: none !important;
                        border-radius: 0 !important;
                    }
                }

                .tab-content {
                    .owl-c-two {
                        .item {
                            transition: all 0.4s ease-in-out;
                            border: 2px solid #ffffff;
                            border-radius: 0px 0px;
                            box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.06);                            position: relative;
                            overflow: hidden;

                            &:hover {
                                border: 2px solid #874d34;

                                .p-title {
                                    h2 {
                                        color: #514242;
                                    }
                                }

                                .product-button {
                                    opacity: 1 !important;
                                    visibility: visible !important;
                                    top: 35% !important;
                                }
                            }
                        }

                        .owl-stage-outer {
                            .owl-stage {
                                display: flex;
                                flex-wrap: wrap;
                            }
                        }

                        .owl-nav {
                            position: absolute;
                            top: -75px;
                            right: 0;

                            @include mobile {
                                top: -94px;
                                right: -15px;
                            }

                            .owl-prev,
                            .owl-next {
                                background: none !important;
                                color: #be9c79;
                                font-size: 30px;
                                padding: 4px 3px;

                                &:hover {
                                    color: #874d34;
                                }

                                @include mobile {
                                    font-size: 20px;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}