.our-gallery {
    .container {
        .row {
            .pad-zero {
                padding: 0 !important;

                .gallery-side {
                    overflow: hidden;

                    img{
                        transition: all .4s ease-in-out;
                    }

                    .gallery-overly {
                        width: 75%;
                        top: 18%;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 1;
                        opacity: 0;
                        transition: .3s ease;

                        @include min-tablet {
                            top: 27%;
                        }

                        @include mobile {
                            top: 35%;
                        }

                        @include min-mobile {
                            top: 25%;
                        }

                        h2 {
                            padding: 15px 45px;
                            border-radius: 30px;

                            @include text-size {
                                padding: 15px 30px;
                                font-size: 14px;
                            }

                            @include min-tablet {
                                font-size: 26px;
                            }

                            a {
                                color: #ffffff;
                            }
                        }

                        p {
                            color: #ffffff;
                            margin: 0 0 15px 0;
                        }
                    }

                    &:hover {

                        &::before,
                        &::after {
                            opacity: 0.7;
                            transform: scale(1);
                        }

                        img {
                            filter: blur(3px);
                            transform: scale(1.1, 1.1);
                        }

                        .gallery-overly {
                            opacity: 1;
                        }
                    }

                    &::before {
                        content: '';
                        transform: scale(0, 1);
                        opacity: 0;
                        z-index: 0;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        bottom: 15px;
                        left: 15px;
                        transition: opacity 0.35s, transform 0.35s;
                    }

                    &::after {
                        content: '';
                        transform: scale(0, 1);
                        opacity: 0;
                        background: #874d34;
                        z-index: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        transition: opacity 0.35s, transform 0.35s;
                    }
                }
            }
        }
    }
}