.shop-image {
    a {
        .reveal {
            img {
                max-width: 100% !important;
            }

            .reveal-img {
                top: 0;
                left: 0;
                right: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease-in-out;
                transform: translateX(100%);
                position: absolute;
            }

            &:hover {
                .reveal-img {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(0);
                }
            }
        }

        .img-wrapper {
            top: 70%;

            .product-button {
                left: auto;
                width: auto;
                padding: 30px 0;
                right: 10px;
                top: 55%;
                position: absolute;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease-in-out;

                .pb-parent {
                    .pb-child {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        background: #be9c79;
                        color: #ffffff;
                        cursor: pointer;
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            background: #5e473e;
                        }
                    }

                    .pb_none {
                        @include m-none {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .product-detail {
        padding: 20px 15px 20px;

        .p-title {
            width: 100%;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e4e4e4;
            display: inline-block;

            h2 {
                color: #be9c79;
                font-size: 16px;
                transition: all 0.4s ease-in-out;
            }

            &::after {
                clear: both;
                content: "";
                display: inline-block;
                height: 10px;
                margin: 0 auto;
                position: absolute;
                bottom: 65px;
                left: 0;
                right: 0;
                text-align: center;
                width: 10px;
                border-radius: 1px;
                background: #5e473e;
                box-shadow: 0 0 0 8px #ffffff;
                transform: rotate(-45deg);
            }
        }

        .product-center {
            .product-left {
                font-size: 16px;
                background: none !important;
                color: #5e473e;
                position: relative;
                cursor: text;
            }

            .shop-side {
                .add-to-card {
                    margin: auto;
                    float: right;
                    font-size: 16px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    color: #000000;
                    transition: all 0.4s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background: #be9c79;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}