body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

// html {
// }

.owl-carousel {
    .owl-dots {
        display: block !important;

        .owl-dot {
            margin-top: 10px;
            span {
                background: #be9c79;
            }

            &:hover {
                span {
                    background: #5e473e !important;
                }
            }
        }
    }
}

.nav-tabs {
    .active {
        background: #5e473e !important;
        border-color: #5e473e !important;
        color: #fff !important;
    }
}

.owl-dots {
    .active {
        span {
            background: #5e473e !important;
        }
    }
}

.container {
    max-width: 1360px !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h2,
h3,
h4 {
    color: #514242;
    letter-spacing: 0.05em;
    margin: 0 0 15px;
    line-height: 1.1;
    font-family: 'Spicy Rice', cursive;
    font-weight: normal;
}