<section class="catalog-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="list-text text-center animate__animated animate__fadeInDown">
                    <h2>Coffee Build Your Base</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="list-grid d-flex w-100">
                    <div class="col-lg-4 col-sm-12">
                        <div class="list-information list-order d-flex w-100">
                            <div class="list-i-content text-right">
                                <h4>Croissant</h4>
                                <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetelis in mei.
                                    Meianpe icula euripidis,partem.</p>
                            </div>
                            <div class="list-icon d-flex justify-content-center align-items-start w-100">
                                <img class="img-fluid" src="/src/static/assets/list-icon-1.png" alt="icon">
                            </div>
                        </div>

                        <div class="list-information list-order d-flex w-100">
                            <div class="list-i-content text-right">
                                <h4>French Toast</h4>
                                <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetelis in mei.
                                    Meianpe icula euripidis,partem.</p>
                            </div>
                            <div class="list-icon d-flex justify-content-center align-items-start w-100">
                                <img class="img-fluid" src="/src/static/assets/list-icon-2.png" alt="icon">
                            </div>
                        </div>

                        <div class="list-information list-order d-flex w-100">
                            <div class="list-i-content text-right">
                                <h4>Pancakes</h4>
                                <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetelis in mei.
                                    Meianpe icula euripidis,partem.</p>
                            </div>
                            <div class="list-icon d-flex justify-content-center align-items-start w-100">
                                <img class="img-fluid" src="/src/static/assets/list-icon-3.png" alt="icon">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="center-image w-100">
                            <img class="img-fluid" src="/src/static/assets/center-img-coffee.jpg" alt="laCafe">
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="list-information d-flex w-100">
                            <div class="list-icon d-flex justify-content-center align-items-start w-100">
                                <img class="img-fluid" src="/src/static/assets/list-icon-4.png" alt="icon">
                            </div>

                            <div class="list-i-content text-left">
                                <h4>Turkish Coffee</h4>
                                <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetelis in mei.
                                    Meianpe icula euripidis,partem.</p>
                            </div>
                        </div>

                        <div class="list-information d-flex w-100">
                            <div class="list-icon d-flex justify-content-center align-items-start w-100">
                                <img class="img-fluid" src="/src/static/assets/list-icon-5.png" alt="icon">
                            </div>

                            <div class="list-i-content text-left">
                                <h4>Coffee To Go</h4>
                                <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetelis in mei.
                                    Meianpe icula euripidis,partem.</p>
                            </div>
                        </div>

                        <div class="list-information d-flex w-100">
                            <div class="list-icon d-flex justify-content-center align-items-start w-100">
                                <img class="img-fluid" src="/src/static/assets/list-icon-6.png" alt="icon">
                            </div>

                            <div class="list-i-content text-left">
                                <h4>Morning Coffee</h4>
                                <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetelis in mei.
                                    Meianpe icula euripidis,partem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>