<section class="category-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="category-title d-flex flex-column text-center justify-content-center align-items-center mb-4 w-100">
                    <h2>Popular Collection</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis, pulvinar dapibus leo.</p>
                </div>
            </div>

            <div class="category-collection d-flex flex-wrap">
                <div class="collection-side">
                    <a href="#">
                        <div class="collection w-100">
                            <div class="collection-image w-100">
                                <img class="img-fluid" src="/src/static/assets/collection-1.webp" alt="collection-img">
                            </div>

                            <div class="collection-title text-center w-100">
                                <h2>Marogogipe Coffe</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="collection-side">
                    <a href="#">
                        <div class="collection w-100">
                            <div class="collection-image w-100">
                                <img class="img-fluid" src="/src/static/assets/collection-2.webp" alt="collection-img">
                            </div>

                            <div class="collection-title text-center w-100">
                                <h2>Bourbon Coffee</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="collection-side">
                    <a href="#">
                        <div class="collection w-100">
                            <div class="collection-image w-100">
                                <img class="img-fluid" src="/src/static/assets/collection-3.webp" alt="collection-img">
                            </div>

                            <div class="collection-title text-center w-100">
                                <h2>Arabica Coffee</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="collection-side">
                    <a href="#">
                        <div class="collection w-100">
                            <div class="collection-image w-100">
                                <img class="img-fluid" src="/src/static/assets/collection-4.webp" alt="collection-img">
                            </div>

                            <div class="collection-title text-center w-100">
                                <h2>Blue Mountain Coffee</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="collection-side">
                    <a href="#">
                        <div class="collection w-100">
                            <div class="collection-image w-100">
                                <img class="img-fluid" src="/src/static/assets/collection-5.webp" alt="collection-img">
                            </div>

                            <div class="collection-title text-center w-100">
                                <h2>Kapeng Barako</h2>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section>