<section class="coffee-message">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="message-side shop_btn d-flex flex-column">
                    <h2>Upgrade to the latest Taste!</h2>
                    <h4>Message from Coffee Maker</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim.
                        <br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim.
                    </p>

                    {{!-- ShopButton --}}
                    {{> common/shopbutton }}

                    <div class="logo-ban mt-3 w-100">
                        <img class="img-fluid" src="/src/static/assets/signature-1.webp" alt="logo-ban">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>