<section class="coffee-tab">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-title d-flex flex-column justify-content-center align-items-center text-center w-100">
                    <h2>Our Products</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis, pulvinar dapibus leo.</p>
                </div>
            </div>

            <div class="col-12">
                <div class="tab-side">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                                aria-controls="nav-home" aria-selected="true">Bean</a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                                aria-controls="nav-profile" aria-selected="false">Berries</a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Powder</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="owl-carousel owl-c-two owl-theme">
                                <div class="item order-0">
                                    <h4>ONE</h4>
                                </div>
                                <div class="item order-5">
                                    <h4>TWO</h4>
                                </div>
                                <div class="item order-1">
                                    <h4>THREE</h4>
                                </div>
                                <div class="item order-6">
                                    <h4>FOUR</h4>
                                </div>
                                <div class="item order-2">
                                    <h4>FIVE</h4>
                                </div>

                                <div class="item order-7">
                                    <h4>SIX</h4>
                                </div>
                                <div class="item order-3">
                                    <h4>SEVEN</h4>
                                </div>
                                <div class="item order-8">
                                    <h4>EIGHT</h4>
                                </div>
                                <div class="item order-4">
                                    <h4>NINE</h4>
                                </div>
                                <div class="item order-9">
                                    <h4>TEN</h4>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            ...
                        </div>

                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>