<section class="our-clients">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 mb-xl-5 text-center">
                <h2>Our Clients</h2>
            </div>

            <div class="col-12">
                <div class="owl-carousel owl-c-three owl-theme">
                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-7.webp" alt="client-logo">
                        </a>
                    </div>

                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-8.webp" alt="client-logo">
                        </a>
                    </div>

                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-4.webp" alt="client-logo">
                        </a>
                    </div>

                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-3.webp" alt="client-logo">
                        </a>
                    </div>

                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-2.webp" alt="client-logo">
                        </a>
                    </div>

                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-1.webp" alt="client-logo">
                        </a>
                    </div>

                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-5.webp" alt="client-logo">
                        </a>
                    </div>

                    <div class="item">
                        <a class="client-image-side" href="#">
                            <img class="img-fluid" src="/src/static/assets/Logo-6.webp" alt="client-logo">
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>