<section class="our-gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 text-center">
                <h2>Our Gallery</h2>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-1.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Peaberry Bean
                            </a>
                        </h2>
                        <p>Dark & Strong</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-2.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Cuban Espresso
                            </a>
                        </h2>
                        <p>Density to Taste</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-3.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Cappuccino
                            </a>
                        </h2>
                        <p>Amazing feel</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-4.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Hot Coffee's
                            </a>
                        </h2>
                        <p>Types</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-5.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Roasted Bean
                            </a>
                        </h2>
                        <p>Crispy</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-6.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Flavoured Coffee
                            </a>
                        </h2>
                        <p>Feel Relax</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-7.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Roaster Powder
                            </a>
                        </h2>
                        <p>Strong Flavour</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="gallery-side d-flex justify-content-center position-relative w-100">
                    <a href="#">
                        <img class="img-fluid" src="/src/static/assets/gallery-8.jpg" alt="gallery-img">
                    </a>

                    <div class="gallery-overly position-absolute text-center">
                        <h2>
                            <a href="#">
                                Molokai Coffee
                            </a>
                        </h2>
                        <p>Feel Fine</p>
                        <div class="shop-button text-center mt-3">
                            <a href="#" class="btn">View all collection</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>