<section class="shopify-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="shopify-left w-100">
                    <div class="owl-carousel owl-c-one owl-theme d-flex flex-column w-100">
                        <div class="item">
                            <img class="img-fluid" src="/src/static/assets/img-4_4.webp" alt="img-shop">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/src/static/assets/img-2-9.jpg" alt="img-shop">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/src/static/assets/img-3.jpg" alt="img-shop">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="shopify-right d-flex flex-column justify-content-center align-items-left w-100">
                    <h3>What Makes our Coffee Special ?</h3>

                    <ul class="support-block">
                        <li class="animate__animated animate__fadeInUp">
                            <div class="support-section d-flex text-left">
                                <a href="#">
                                    <img class="img-fluid" src="/src/static/assets/icon-4_5.png" alt="icon">
                                </a>

                                <div class="support-text d-flex flex-column text-left">
                                    <h5>Pure Ingreidents</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit
                                        turpis, a porttitor tellus sollicitudin at.</p>
                                </div>
                            </div>
                        </li>

                        <li class="animate__animated animate__fadeInUp">
                            <div class="support-section d-flex text-left">
                                <a href="#">
                                    <img class="img-fluid" src="/src/static/assets/icon-4_6.png" alt="icon">
                                </a>

                                <div class="support-text d-flex flex-column text-left">
                                    <h5>Sustainability</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit
                                        turpis, a porttitor tellus sollicitudin at.</p>
                                </div>
                            </div>
                        </li>

                        <li class="animate__animated animate__fadeInUp">
                            <div class="support-section d-flex text-left">
                                <a href="#">
                                    <img class="img-fluid" src="/src/static/assets/icon-4_7.png" alt="icon">
                                </a>

                                <div class="support-text d-flex flex-column text-left">
                                    <h5>Environmentalism</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit
                                        turpis, a porttitor tellus sollicitudin at.</p>
                                </div>
                            </div>
                        </li>

                        <li class="animate__animated animate__fadeInUp">
                            <div class="support-section d-flex text-left">
                                <a href="#">
                                    <img class="img-fluid" src="/src/static/assets/icon-4_8.png" alt="icon">
                                </a>

                                <div class="support-text d-flex flex-column text-left">
                                    <h5>Formula Transparency</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit
                                        turpis, a porttitor tellus sollicitudin at.</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>