<section class="wide-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wb-title shop_btn d-flex flex-column text-center w-100">
                    <span>Feel the taste</span>
                    <h2>More than coffee & Tea</h2>
                    <p>Flat 20% Discount</p>

                    {{!-- ShopButton --}}
                    {{> common/shopbutton }}
                </div>
            </div>
        </div>
    </div>
</section>