<footer>
    <div class="container">
        <div class="row">
            <div class="first-side w-100">
                <div class="col-12 d-flex flex-wrap">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <h4 style="color: #be9c79;">Help</h4>
                        <ul class="foot-parent">
                            <li class="foot-child">
                                <a href="#">
                                    Search
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Help
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Information
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Shipping Details
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <h4 style="color: #be9c79;">Support</h4>
                        <ul class="foot-parent">
                            <li class="foot-child">
                                <a href="#">
                                    Contact us
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    About us
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Refunds & Returns
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Deliveries
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <h4 style="color: #be9c79;">Information</h4>
                        <ul class="foot-parent">
                            <li class="foot-child">
                                <a href="#">
                                    Search Terms
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Advanced Search
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Help & Faq's
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Store Location
                                </a>
                            </li>
                            <li class="foot-child">
                                <a href="#">
                                    Orders & Returns
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <h4 style="color: #be9c79;">Contact Us</h4>
                        <ul class="foot-parent">
                            <li style="line-height: 30px;" class="foot-child">
                                No: 58 A, East Madison Street,
                                <br>
                                Baltimore, MD, USA 4508
                            </li>

                            <li style="line-height: 30px;" class="foot-child d-flex flex-nowrap">
                                <i class="fas fa-phone"></i>
                                <a>
                                    +91 12345678
                                </a>
                            </li>
                            <li class="foot-child d-flex flex-nowrap">
                                <i class="fas fa-globe-asia"></i>
                                <a href="#">
                                    sample@domain.com
                                </a>
                            </li>
                            <li class="foot-child d-flex flex-nowrap">
                                <i class="fas fa-envelope"></i>
                                <a href="#">
                                    pashasafarli@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="second-side w-100">
                <div class="col-12 d-flex flex-wrap">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex flex-column text-center grid-size">
                        <h4>Connect with us</h4>
                        <ul class="second-parent d-flex justify-content-center align-items-center">
                            <li class="second-child">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                            <li class="second-child">
                                <a href="#">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>

                            <li class="second-child">
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>

                            <li class="second-child">
                                <a href="#">
                                    <i class="fab fa-tumblr"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex flex-column text-center grid-size">
                        <h4>Download our app</h4>
                        <ul class="second-parent d-flex flex-wrap justify-content-center align-items-center">
                            <li class="second-child">
                                <a href="#">
                                    <img src="/src/static/assets/App-logo-1.webp" alt="app-logo">
                                </a>
                            </li>

                            <li class="second-child">
                                <a href="#">
                                    <img src="/src/static/assets/App-logo-2.webp" alt="app-logo">
                                </a>
                            </li>

                            <li class="second-child">
                                <a href="#">
                                    <img src="/src/static/assets/App-logo-3.png" alt="app-logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="third-side w-100">
                <div class="col-12 d-flex flex-wrap">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start align-items-center grid_c">
                        <p>
                            Copyright @ 2020 Coffee Shop
                            <a>
                                Pasha Safarli
                            </a>
                        </p>
                    </div>

                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <ul class="third-parent d-flex justify-content-end align-items-center">
                            <li>
                                <a href="#">
                                    <img src="/src/static/assets/card-icons-1.webp" alt="card">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/src/static/assets/card-icons-2.webp" alt="card">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/src/static/assets/card-icons-3.webp" alt="card">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/src/static/assets/card-icons-4.webp" alt="card">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/src/static/assets/card-icons-5.webp" alt="card">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>