<div class="shop_side d-flex flex-column w-100">
    <ul class="mini_products_list float-left w-100">
        <li class="item float-left d-flex w-100">
            <a class="product_image" href="#">
                <img class="img-fluid" src="/src/static/assets/product-12_12.jpg" alt="image">
            </a>

            <div class="product-details d-flex flex-column justify-content-start align-items-center">
                <p class="product-name text-left">
                    <a href="#">
                        Arabica Coffee Bean - 1 kg / Brown
                    </a>
                </p>

                <div class="cart-collateral text-left w-100">
                    1 x
                    <span>
                        £233.49
                    </span>
                </div>
            </div>

            <div class="close">
                <i class="fas fa-times"></i>
            </div>
        </li>
    </ul>

    <div class="total_side text-center">
        <p class="total">
            <span class="label">
                Cart total :
            </span>
            <span class="price">
                £233.49
            </span>
        </p>
    </div>

    <div class="shop_button d-flex justify-content-around align-items-center">
        <div class="shop-button">
            <a href="#" class="btn">
                <i class="fas fa-check"></i>
                Check Out
            </a>
        </div>

        <div class="shop-button">
            <a href="#" class="btn">
                <i class="fas fa-shopping-basket"></i>
                View Cart
            </a>
        </div>
    </div>
</div>